.list {
    width: 450px;
    margin:auto;
    text-align: left;
    margin-top: 30px;
}
ul {
    border: 2px solid #E67E22;
    border-radius: 5px;
    padding: 20px;
}
li {
    margin-left: 15px;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
}
span {
    color: #e74c3c;
    margin: auto 10px;
}
