.list {
    width: 400px;
    margin:auto;
    text-align: left;
    margin-top: 30px;
}
ul {
    border: 2px solid #E67E22;
    border-radius: 5px;
    padding: 20px;
}
li {
    margin-left: 15px;
}
span {
    color: #e74c3c;
}